.parent{
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 100%;
    max-width: 600px;
    justify-content: space-between; /*center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
}
.columns{
    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; /* center items vertically, in this case */
    align-items: stretch;     /* center items horizontally, in this case */
}
.first{
    padding-left: 5px;
    align-items: flex-start;
    max-width: 100px;
}

.last{
    padding-right: 5px;
    align-items: flex-end;
    max-width: 100px;
}
.image{   
    margin-top: 5px;
    margin-bottom: 5px;
    margin:  5px;
    flex-direction: unset;
    height: 100%;
    justify-content: center; /* center items vertically, in this case */
    align-items: flex-start;     /* center items horizontally, in this case */
}
mat-card{
    padding:0 !important;
}
.bordered{
    border : solid 1px currentColor;
}