
<mat-card class="parent bordered">
    <div class="columns first">
        <img class="image" [src]="coverUrl" alt="No alt">
    </div>
    <div class="columns">
        <div><h3 class="underline">{{(title.length>150)?  title.substring(0, 150) + "...":title}}</h3></div><br>
        <div><h4 class="underline">{{author}}</h4></div><br>
    </div>
    <div class="columns last">
        <button mat-stroked-button (click)="viewBook()" 
        color="accent" class="btn-block">Voir Livre</button>
    </div>
</mat-card>