<router-outlet></router-outlet>
<mat-card>
    <mat-card-header>
        <mat-card-title>Saisissez les infos du livre désiré</mat-card-title><br/>

        <mat-form-field class="searchInp">
            <mat-label>Titre</mat-label>
            <input matInput type="text" (change)="inputSearchChange($event,'title')" placeholder="Title">
        </mat-form-field>&nbsp;&nbsp;&nbsp;
    
        <mat-form-field class="searchInp">
            <mat-label>Auteur</mat-label>
            <input matInput type="text" (change)="inputSearchChange($event,'author')" placeholder="Author">
        </mat-form-field>&nbsp;&nbsp;&nbsp;
    
        <mat-form-field class="searchInp">
            <mat-label>Type a RegEx</mat-label>
            <input matInput  type="text" (change)="regexChange($event)" placeholder="Regex">
        </mat-form-field>


    </mat-card-header>
<mat-card-content class="scroll bordered" *ngIf="books.length>0">
    <div *ngFor="let book of books">
        <app-list-item [bookUrl]="book.html"  [id]="book.bookId" [coverUrl]="book.cover" [author]="book.author.join(',')" [title]="book.title" ></app-list-item>
    </div>
</mat-card-content>
</mat-card>
