.main-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(35, 35, 35, 0.80);
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 10px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.logo{
  position: fixed;
  bottom: 0px;
}
