<mat-sidenav-container class="main-container" autosize>
    <mat-sidenav  #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
          <mat-nav-list>
  
        <div (click)="isExpanded = !isExpanded">
          <mat-list-item >
            <span *ngIf="isExpanded || isShowing" mat-icon-button>Menu</span>
            <mat-icon mat-list-icon>{{!isExpanded? "menu": "lock"}}</mat-icon>
          </mat-list-item>
        </div>
        <div *ngFor="let info of infos" routerLink={{info.path}}>
          <mat-list-item >
            <span *ngIf="isExpanded || isShowing"  routerLinkActive="active" class="full-width">{{info.name}}</span>
            <mat-icon mat-list-icon>{{info.icon}}</mat-icon>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>
      <div class="sidenav-content">
          <router-outlet></router-outlet>
      </div>
  
  </mat-sidenav-container>
  